NS_DATABASE=json
NS_HOST_PORT=3300
NS_GATEKEEPER_URL=http://host.docker.internal:4224
NS_KEYMASTER_URL=http://host.docker.internal:4226
NS_WALLET_URL=http://host.docker.internal:4224
NS_WALLET_PASSPHRASE=
